---
import { CountUp } from "./CountUp";
---

<section>
  <h2 class="text-4xl font-tomaso">Los ESLAND en numeros</h2>
  <div>
    <p>
      <span><CountUp initial={0} final={227}/></span>
    </p>
    <p>noticias en prensa</p>
  </div>
  <div>
    <p>
      +<span>69.9</span>M
    </p>
    <p>de visualizaciones</p>
  </div>
  <div>
    <p>
      +<span>3.2</span>M$
    </p>
    <p>en medios ganados</p>
  </div>
</section>